.row {
  display: flex;
  justify-content: space-between;
}

.row, .container {
  padding: 8px;
}

.captions {
  border-bottom: 1px solid #ededed;
}

.row h3 {
  margin: 0;
}

.row h3, .row p {
  padding: 8px 0;
}

.row p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.row, .flex {
  flex: 1;
}

.add {
  margin: 8px;
  background-color: #ffeb3b;
  box-shadow: 1px 1px 2px 0px rgb(189, 189, 189);
}

.centered {
  text-align: center;
}
